*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@import'container';

main{
    background-color: black;
    .div1{
        position: relative;
        width: 1899px;
        height: 700px;
        .rasm1{
            width: 1899px;
            height: 700px;
            object-fit: cover;
            opacity: 10%;
            position: absolute;
        }
        .txt1{
            display: inline-block;
            position: absolute;
            width: 450px;
            left: 1020px;
            top: 300px;
            word-spacing: 5px;
            line-height: 25px;
            h2{ 
                color: #fff;
            }
            p{
                color: #fff;
            }
            button{
                background-color: #DD2242;
                border: none;
                color: #fff;
                width: 180px;
                height: 50px;
                border-radius: 50px;
            }
        }
        span > img{
            position: absolute;
            width: 500px;
            height: 400px;
            left: 320px;
            top: 160px;
        }
    }    
        
    .div2{
        position: relative;
        width: 1899px;
        height: 700px;
        .rasm2{
            width: 1899px;
            height: 700px;
            object-fit: cover;
            opacity: 10%;
            position: absolute;
        }
        .txt2{
            position: absolute;
            display: inline-block;
            width: 450px;
            left: 350px;
            top: 300px;
            word-spacing: 5px;
            line-height: 25px;
            h2{ 
                color: #fff;
            }
            p{
                color: #fff;
            }
            button{
                background-color: #DD2242;
                border: none;
                color: #fff;
                width: 180px;
                height: 50px;
                border-radius: 50px;
            }
        }
        span > img{
            position: absolute;
            width: 500px;
            height: 400px;
            left: 1020px;
            top: 160px;
        }
    }

}

aside > img{
    width: 1899px;
}
aside{
    position: relative;
    .qora{
        position: absolute;
        width: 1899px;
        height: 700px;
        background-color: black;
        opacity: 90%;
        top: 1480px;
    }
    .explore{
        position: absolute;
        width: 900px;
        height: 200px;
        display: grid;
        grid-template-columns: auto auto auto;
        top: 180px;
        left: 300px;
        
        
        img{
            margin: 15px;
           
        }
        h1{
            position: absolute;
            top: -90px;
            left: 450px;
            
            font-size: 40px;
            word-spacing: 7px;
        }
    }
}